testdata/golden/machines/example-flow-with-catch.json
{
  "QueryLanguage": "JSONata",
  "Comment": "Handles task failures through an inline catch recovery subflow that rejoins the main flow.",
  "StartAt": "ComputeWithRecovery",
  "States": {
    "ComputeWithRecovery": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Attempts the compute Lambda and routes failures through a localized recovery path.",
      "Arguments": {
        "FunctionName": "${file(resources/index.json):cross_lambdas.methods}",
        "Payload": {
          "computeMany": "{% ((\n  $states.input\n)) %}"
        }
      },
      "Output": "{% ((\n  $states.result.Payload\n)) %}",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NormalizeComputeError",
          "Output": "{% ((\n  $merge([$states.input, {\"compute_error\": $states.errorOutput}])\n)) %}"
        }
      ],
      "Next": "AfterComputeAttempt"
    },
    "NormalizeComputeError": {
      "Type": "Pass",
      "Output": {
        "ok": false,
        "reason": "compute_failed"
      },
      "Next": "AuditComputeFailure"
    },
    "AuditComputeFailure": {
      "Type": "Pass",
      "Output": {
        "audited": true,
        "source": "catch"
      },
      "Next": "AfterComputeAttempt"
    },
    "AfterComputeAttempt": {
      "Type": "Pass",
      "Output": {
        "joined": true
      },
      "End": true
    }
  }
}
