testdata/golden/machines/example-flow-with-join.json
{
  "QueryLanguage": "JSONata",
  "Comment": "Choice inline targets that auto-join into the next state",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Pass",
      "Output": {
        "ok": true,
        "from": "ValidateInput"
      },
      "Assign": {
        "validation": "{% ((\n  $bar := function(){ \"BAR\" };\n\n  $foo := function($x){ (\"DEFAULT_\" & $x) };\n\n  $u__default := function($x){ (\"DEFAULT_\" & $x) };\n\n  $u__foo_bar := function(){ \"FOO_BAR\" };\n\n  $EMPTY_OBJ := {};\n\n  $EMPTY_PARAMS := {};\n\n  $states := $states;\n\n  $coalesce := function($a,$b){ ($exists($a) ? $a : $b) };\n\n  $body := $coalesce($states.input.body, $EMPTY_OBJ);\n\n  $params := $coalesce($states.input.params, $EMPTY_PARAMS);\n\n  $pathParams := $coalesce($params.path, $EMPTY_OBJ);\n\n  $qs := $coalesce($params.querystring, $EMPTY_OBJ);\n\n  $schema := {\"alias\": {\"type\": \"string\", \"required\": true}, \"slug\": {\"type\": \"string\", \"required\": true}, \"overrides\": {\"type\": \"object\", \"required\": false}};\n\n  $schemaKeys := $keys($schema);\n\n  $payload := $merge([$qs, $pathParams, $body]);\n\n  $missing := $schemaKeys[( $def := $lookup($schema, $); $v := $lookup($payload, $); (($def.required = true) and ($exists($v) = false)) )];\n\n  $clean := $reduce($schemaKeys, function($acc,$k){ ( $v := $lookup($payload, $k); ($exists($v) ? $merge([$acc, {($k): $v}]) : $acc) ) }, $EMPTY_OBJ);\n\n  $noteA := $bar();\n\n  $noteB := $foo(\"X\");\n\n  $noteC := $u__foo_bar();\n\n  $noteD := $u__default(\"Y\");\n\n  $numericPlus := (1 + 2);\n\n  $stringyPlus := (\"A\" & \"B\");\n\n  {\"valid\": ($count($missing) = 0), \"input\": $clean, \"errors\": {\"missing\": $missing}, \"notes\": {\"noteA\": $noteA, \"noteB\": $noteB, \"noteC\": $noteC, \"noteD\": $noteD}, \"demoKey\": (\"ALIAS#\" & $uppercase(\"visa\")), \"numericPlus\": $numericPlus, \"stringyPlus\": $stringyPlus}\n)) %}"
      },
      "Next": "RouteValidation"
    },
    "RouteValidation": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% ((\n  $states := $states;\n\n  $validation := $states.input.validation;\n\n  ($exists($validation) and ($validation.valid = true))\n)) %}",
          "Next": "PersistDataInline"
        }
      ],
      "Default": "FailValidationInline"
    },
    "PersistDataInline": {
      "Type": "Pass",
      "Output": {
        "status": "persisted"
      },
      "Next": "AfterDecision"
    },
    "FailValidationInline": {
      "Type": "Pass",
      "Output": {
        "ok": false,
        "reason": "validation_failed"
      },
      "Next": "AfterDecision"
    },
    "AfterDecision": {
      "Type": "Pass",
      "Output": {
        "joined": true
      },
      "End": true
    }
  }
}
