testdata/golden/machines/example-flow-with-condition-helpers.json
{
  "QueryLanguage": "JSONata",
  "Comment": "Composes choice conditions with all(...), any(...), eq(...), and neq(...)",
  "StartAt": "PrepareValidationContext",
  "States": {
    "PrepareValidationContext": {
      "Type": "Pass",
      "Output": {
        "ok": true,
        "from": "PrepareValidationContext"
      },
      "Assign": {
        "validation": "{% ((\n  $bar := function(){ \"BAR\" };\n\n  $foo := function($x){ (\"DEFAULT_\" & $x) };\n\n  $u__default := function($x){ (\"DEFAULT_\" & $x) };\n\n  $u__foo_bar := function(){ \"FOO_BAR\" };\n\n  $EMPTY_OBJ := {};\n\n  $EMPTY_PARAMS := {};\n\n  $states := $states;\n\n  $coalesce := function($a,$b){ ($exists($a) ? $a : $b) };\n\n  $body := $coalesce($states.input.body, $EMPTY_OBJ);\n\n  $params := $coalesce($states.input.params, $EMPTY_PARAMS);\n\n  $pathParams := $coalesce($params.path, $EMPTY_OBJ);\n\n  $qs := $coalesce($params.querystring, $EMPTY_OBJ);\n\n  $schema := {\"alias\": {\"type\": \"string\", \"required\": true}, \"slug\": {\"type\": \"string\", \"required\": true}, \"overrides\": {\"type\": \"object\", \"required\": false}};\n\n  $schemaKeys := $keys($schema);\n\n  $payload := $merge([$qs, $pathParams, $body]);\n\n  $missing := $schemaKeys[( $def := $lookup($schema, $); $v := $lookup($payload, $); (($def.required = true) and ($exists($v) = false)) )];\n\n  $clean := $reduce($schemaKeys, function($acc,$k){ ( $v := $lookup($payload, $k); ($exists($v) ? $merge([$acc, {($k): $v}]) : $acc) ) }, $EMPTY_OBJ);\n\n  $noteA := $bar();\n\n  $noteB := $foo(\"X\");\n\n  $noteC := $u__foo_bar();\n\n  $noteD := $u__default(\"Y\");\n\n  $numericPlus := (1 + 2);\n\n  $stringyPlus := (\"A\" & \"B\");\n\n  {\"valid\": ($count($missing) = 0), \"input\": $clean, \"errors\": {\"missing\": $missing}, \"notes\": {\"noteA\": $noteA, \"noteB\": $noteB, \"noteC\": $noteC, \"noteD\": $noteD}, \"demoKey\": (\"ALIAS#\" & $uppercase(\"visa\")), \"numericPlus\": $numericPlus, \"stringyPlus\": $stringyPlus}\n)) %}"
      },
      "Next": "RouteComposedValidation"
    },
    "RouteComposedValidation": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% (((\n  $states := $states;\n\n  $validation := $states.input.validation;\n\n  ($exists($validation) and ($validation.valid = true))\n)) and ((((\n  $states := $states;\n\n  $states.input.validation.mode\n)) = \"strict\") or (((\n  $states := $states;\n\n  $states.input.validation.source\n)) = \"manual\")) and (((\n  $states := $states;\n\n  $states.input.validation.source\n)) != \"legacy\")) %}",
          "Next": "PersistComposedValidation"
        }
      ],
      "Comment": "Routes only when validation is ok, either strict or manually sourced, and not legacy sourced.",
      "Default": "RejectComposedValidation"
    },
    "PersistComposedValidation": {
      "Type": "Pass",
      "Output": {
        "status": "persisted",
        "strategy": "composed_conditions"
      },
      "End": true
    },
    "RejectComposedValidation": {
      "Type": "Pass",
      "Output": {
        "ok": false,
        "reason": "conditions_not_met"
      },
      "End": true
    }
  }
}
